* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

/* Header */
/* Menu */
.nav-item {
    padding: 25px;
}

.dropdown {
    position: relative;
}

/* Hover chuột */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    padding: 15px 70px;
    list-style: none;
    z-index: 1;
    box-shadow: 1px 1px 10px 1px rgb(218, 195, 195);
    left: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content .chu {
    padding: 3px 0px;
    color: rgb(110, 102, 102);
    font-size: 15px;
    position: relative;
    right: 35px;
}

.dropdown-content.clickChuot {
    margin-top: 20px;
}

/* Hover */
.nav-link.reChuot {
    font-weight: bold;
    font-size: 20px;
    position: relative;
}

.nav-link.reChuot::after {
    content: "";
    height: 2px;
    width: 0px;
    background: black;
    position: absolute;
    top: 0;
    left: 10px;
    transition: all 0.3s ease-in-out;
}
.contactOne.nav-link.reChuot::after {
    content: "";
    height: 2px;
    width: 0px;
    background: #6b56e2;
    position: absolute;
    top: 0;
    left: 10px;
    transition: all 0.3s ease-in-out;
}

.blogOne.nav-link.reChuot::after {
    content: "";
    height: 2px;
    width: 0px;
    background: #6b56e2;
    position: absolute;
    top: 0;
    left: 10px;
    transition: all 0.3s ease-in-out;
}

.nav-link.reChuot:hover::after {
    width: 75%;
}

/* Logo */
.nav-link.logo1 {
    position: absolute;
    left: -45px;
    top: 25px;
}

/* 2 icon */
.bi.bi-list {
    font-size: 40px;
    position: absolute;
    right: 30px;
    top: 30px;
}

.bi.bi-search {
    position: absolute;
    right: 10px;
    top: 47px;
}

/* Banner */
.banner {
    background-image: url(../images_about/page-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 10px;
}

.bannerCon {
    text-align: center;
    color: white;
    padding: 70px;
}

.text1 {
    font-weight: bold;
    font-size: 30px;
    line-height: 60px;
}

.text3 a {
    color: white;
    text-decoration: none;
}

.text3 a:hover {
    color: #6b56e2;
}

/* Main content 1 */

.item5 iframe {
    width: 100%;
    height: 770px;
    border: 0;
}

.item6 {
    padding: 120px 70px;
}

.item6 input,
.item6 textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #d6d5d5;
    border-radius: 10px;
    margin-bottom: 30px;
}

.btn-send{
    border: none;
    background: #232324;
    width: 100%;
    color: white;
    font-weight: bold;
    padding: 10px 0;
}
.btn-send:hover {
    background-color: #6b56e2;
}


/* Footer */
footer {
    background: #262626;
}

.item9 {
    color: white;
    margin-top: 80px;
    margin-bottom: 40px;
    position: relative;
}

/* Cột 1 */
.text29 {
    font-weight: bold;
    font-size: 20px;
}

.text30 {
    margin-top: 20px;
    color: #8a8a8a;
    font-size: 15px;
    line-height: 25px;
}

.icon2 a {
    padding-right: 20px;
    color: white;
}

.icon2 {
    margin-top: 30px;
}

/* Cột 2 */
.icon3 {
    color: #8a8a8a;
}

.text31 a {
    text-decoration: none;
    color: #8a8a8a;
    font-size: 14px;
}

.text31 a p {
    margin-left: 35px;
}

.text31 a:hover {
    color: white;
}

/* Cột 3 */
.text32 a {
    text-decoration: none;
    color: #8a8a8a;
}

.text32 {
    margin-bottom: 20px;
}

.text32 a:hover {
    color: white;
}

.subscribe {
    background: #262626;
    border: 1px solid #8a8a8a;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    color: #988a8a;
    box-sizing: border-box;
}

.btn-add5 {
    border: none;
    margin-top: 10px;
    background-color: #6b56e2;
    color: white;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    text-align: center;
}

.btn-add5:hover {
    background: #262626;
}

/* End */
.end {
    padding: 20px;
    background: #232324;
}

.last p {
    text-align: center;
    color: #f1ffff;
    font-size: 15px;
    margin-top: 5px
}

/* Cuộn trang */
.keep a {
    color: white;
    background: black;
    padding: 15px 20px;
    position: fixed;
    bottom: 15%;
    right: 5%;
    z-index: 1000;
    box-sizing: border-box;
    display: none;
}