* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

/* Header */
/* Menu */
.nav-item {
    padding: 25px;
}

.dropdown {
    position: relative;
}

/* Hover chuột */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    padding: 15px 70px;
    list-style: none;
    z-index: 1;
    box-shadow: 1px 1px 10px 1px rgb(218, 195, 195);
    left: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content .chu {
    padding: 3px 0px;
    color: rgb(110, 102, 102);
    font-size: 15px;
    position: relative;
    right: 35px;
}

.dropdown-content.clickChuot {
    margin-top: 20px;
}

/* Hover */
.nav-link.reChuot {
    font-weight: bold;
    font-size: 20px;
    position: relative;
}

.nav-link.reChuot::after {
    content: "";
    height: 2px;
    width: 0px;
    background: black;
    position: absolute;
    top: 0;
    left: 10px;
    transition: all 0.3s ease-in-out;
}
.homeOne.nav-link.reChuot::after {
    content: "";
    height: 2px;
    width: 0px;
    background: #6b56e2;
    position: absolute;
    top: 0;
    left: 10px;
    transition: all 0.3s ease-in-out;
}

.nav-link.reChuot:hover::after {
    width: 75%;
}

/* Logo */
.nav-link.logo1 {
    position: absolute;
    left: -45px;
    top: 25px;
}

/* 2 icon */
.bi.bi-list {
    font-size: 40px;
    position: absolute;
    right: 30px;
    top: 30px;
}

.bi.bi-search {
    position: absolute;
    right: 10px;
    top: 47px;
}

/* Banner */
.banner {
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images_home/slider-1.png);
    background-repeat: no-repeat;
    position: relative;
}
.banner1 {
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images_home/slider-2.png);
    background-repeat: no-repeat;
    position: relative;
}

.text {
    color: white;
    position: absolute;
    top: 150px;
    left: 140px;
}

.text h1 {
    font-weight: bold;
    font-size: 80px;
}

.text p {

    font-size: 20px;
}

.btn-learn a p {
    text-decoration: none;
    color: white;
    margin-top: 10px;
    position: absolute;
    font-weight: bold;
    font-size: 15px;
    background-color: #232324;
    padding: 18px 45px;
    border-radius: 99px;
}

.btn-learn a p:hover {
    background: #6b56e2;
}

/* Main content */
.anh2 {
    position: relative;
    width: 100%;
    height: 67vh;
    background-image: url(../images_home/about-image.png);
    background-repeat: no-repeat;
}

.textChinh {
    margin-top: 110px;
    margin-left: 70px;
}

.text2 {
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 50px;
    position: relative;
}

.text2::after {
    content: "";
    width: 155px;
    height: 5px;
    background: black;
    position: absolute;
    bottom: -25px;
    left: 0;
}

.text4 {
    font-size: 15px;
    color: #8a8a8a;
}

.btn-add {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: black;
    padding: 18px 50px;
    font-size: 12px;
    margin-top: 15px;
}

.btn-add:hover {
    background: #6b56e2;
}

/* Main content 2 */
.nen{   
    padding-top: 1px;
    background-image: linear-gradient(rgba(245, 241, 241, 0.5), rgba(245, 241, 241, 0.5));
    padding-bottom: 100px;
}
/* Content1 */
.text5 {
    margin-top: 90px;
    text-align: center;
    margin-bottom: 70px;
}

.text6 {
    font-weight: bold;
    font-size: 20px;
    position: relative;
    margin-bottom: 50px;
    display: inline-block;
}

.text6::after {
    content: "";
    width: 100px;
    height: 3px;
    background: black;
    position: absolute;
    bottom: -25px;
    left: 10px;
}

.text7 {
    font-size: 15px;
    color: #8a8a8a;
}
/* Content 2 */
.item1{
    text-align: center;
    background-image:linear-gradient(rgba(5, 5, 5, 0.552),rgba(5, 5, 5, 0.552)) ,url(../images_home/service-1.png);
}
.item2{
    text-align: center;
    background-image:linear-gradient(rgba(5, 5, 5, 0.552),rgba(5, 5, 5, 0.552)) ,url(../images_home/service-2.png);
}
.item3{
    text-align: center;
    background-image:linear-gradient(rgba(5, 5, 5, 0.552),rgba(5, 5, 5, 0.552)) ,url(../images_home/service-3.png);
}
.icon4{
    color: #eea4c7;
    font-size: 50px;
    padding-top: 50px;
}
.text37{
color: white;
font-weight: bold;

}

.text38{
    color: white;
    font-size: 18px;
    line-height: 35px;
}
.btn-readMore{
    background: #232324;
    padding: 15px;
}
.btn-readMore a{
    text-decoration: none;    
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.btn-readMore:hover{
    background: #6b56e2;
}

/* Main content 3 */
/* Main content 3 */
.anh1 {
    width: 80%;
    height: 80vh;
    background-image: url(../images_home/creative-blue-about-bg.jpg);
    background-size: cover;
    background-position: center;
    margin-left: 100px;
}
.item10{
    padding: 100px;
}
.text39{
    font-size: 25px;
    font-weight: bold;
    position: relative;
}
.text39::after{
    content: "";
    width: 120px;
    height: 5px;
    background: black;
    position: absolute;
    bottom: -25px;
    left: 0;
}
.text40{
    font-size: 14px;
    color: #8a8a8a;
    margin-top: 50px;
}
.text41{
    margin-top: 50px;
    color: #8a8a8a;
    font-size: 15px;
    

}
.text41 li{
    list-style-type: circle;
    margin-bottom: 10px;
}

.btn-let{
    display: inline-block;

}
.btn-let p{
    color: black;
    font-weight: bold;
    border: 1px solid #8a8a8a;
    padding: 15px 40px;
    border-radius: 99px;
    font-size: 13px;
    margin-top: 20px;
}
/* Main content 5 */
/* Content 1 */
.cover1 {
    background-image: linear-gradient(rgba(245, 241, 241, 0.5), rgba(245, 241, 241, 0.5));
}

.textChinh2 {
    text-align: center;
    padding-top: 90px;
}

.text19 {
    font-weight: bold;
    font-size: 20px;
    position: relative;
    margin-bottom: 50px;
    display: inline-block;
}

.text19::after {
    content: "";
    width: 100px;
    height: 3px;
    background: black;
    position: absolute;
    bottom: -27px;
    left: 30px;
}

.text20 {
    font-size: 15px;
    color: #8a8a8a;
    padding-bottom: 20px;
}

/* Content 2 */
.menu2 {
    padding: 30 20px;
    font-size: 20px;
}

.nav-item .text21 {
    color: #6b56e2;
}

/* Content 3 */
.image {
    position: relative;
}

.img-fluid {
    width: 100%;
    display: block;
    margin-bottom: 30px;
}

.text22 b {
    position: absolute;
    color: white;
    bottom: 35px;
    left: 30px;
}

.text22 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(86, 59, 235, 0.8);
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.9s;
}

.text22:hover {
    opacity: 1;
}

.text22>* {
    transform: translateY(25px);
    transition: 0.6s;
}

.text22:hover>* {
    transform: translateY(0px);
}

.btn-add1 {
    text-align: center;
}

.btn-add1 a {
    display: inline-block;
    border: 1px solid #c1bbbb;
    padding: 20px 30px;
    font-size: 12px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    border-radius: 99px;
    margin-top: 40px;
    margin-bottom: 110px;
    text-decoration: none;
}

.btn-add1 a:hover {
    background: #6b56e2;
    color: white;
}

/* Main content 6 */
.mainContent6{
    text-align: center;

}
.mainContent6 i{
    margin-top: 100px;
    color: #6b56e2;
    font-size: 50px;
}
.text42 p{
    font-family: "Playfair Display", serif;
    font-size: 24px;
    line-height: 36px;
    font-style: italic;
    margin-bottom: 100px;
}

/* Main content 8 */
.main-content8 {
    font-family: Playfair Display;
    width: 80%;
    margin: 0 auto;
}

/* Content 1 */

.textChinh3 {
    text-align: center;
}

.text33 {
    font-weight: bold;
    font-size: 20px;
    position: relative;
    margin-bottom: 40px;
    display: inline-block;
    padding-top: 90px;
}

.text33::after {
    content: "";
    width: 90px;
    height: 3px;
    background: black;
    position: absolute;
    bottom: -10px;
    left: 13px;
}

.text34 {
    font-size: 15px;
    color: #8a8a8a;
    margin-bottom: 55px;
}

/* Content 2 */
.cover2 {
    background-image: linear-gradient(rgba(245, 241, 241, 0.5), rgba(245, 241, 241, 0.5));
    position: relative;
}

.item6 {
    position: relative;
}

.image3 {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.text24 {
    text-decoration: none;
}

.text24 p {
    color: black;
    font-weight: bold;
    font-size: 13px;
}

.text24 p:hover {
    color: #6b56e2;
}

.text25 {
    color: #988a8a;
    font-size: 14px;
}

.text25 p a {
    text-decoration: none;
    color: #988a8a
}

.text25 p a:hover {
    color: #6b56e2;
}

.text26 p {
    color: #988a8a;
    font-size: 14px;
}

.btn-add3 .read {
    display: inline-block;
    border: 1px solid #e5e5e5;
    font-size: 12px;
    padding: 17px 60px;
    font-weight: bolder;
    color: black;
    text-decoration: none;
    margin-bottom: 100px;
}

.btn-add3 .read:hover {
    background: #6b56e2;
    color: white;
}

.text25 .chat {
    color: #92b0c0;
    margin-left: 170px;
}

.text25 .love {
    color: #e53939;
    margin-left: 10px;
}

.btn-share .share {
    font-weight: bold;
    color: white;
    background: #ced0d7;
    padding: 10px;
    font-size: 13px;
    position: absolute;
    right: 0px;
    bottom: 105px;
}

.icon {
    position: absolute;
    background: #4a4949;
    padding: 7px 10px;
    letter-spacing: 15px;
    right: 0px;
    bottom: 105px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s visibility 0.3s;
}

.btn-share .share:hover+.icon,
.btn-share .icon:hover {
    opacity: 1;
    visibility: visible;
}

.icon .facebook {
    color: #ced0d7;
}

.icon .facebook:hover {
    color: rgb(69, 69, 241);
}

.icon .twitter {
    color: #ced0d7;
}

.icon .twitter:hover {
    color: rgb(69, 69, 241);
}

.icon .linkedin {
    color: #ced0d7;
}

.icon .linkedin:hover {
    color: rgb(69, 69, 241);
}

.icon .pinterest {
    color: #ced0d7;
}

.icon .pinterest:hover {
    color: rgb(69, 69, 241);
}

/* Main  content 8 */
.cover3 {
    background-image: linear-gradient(90deg, #97a7fb, #eaaaf5);
    position: relative;
}

.item8 {
    color: white;
    padding: 100px;
    padding-left: 130px;
}

.text27 p {
    font-weight: bold;
    font-size: 25px;
}

.text27 p::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background: white;
    top: 160px;
    left: 142px;
}

.text28 p {
    font-size: 13px;
    margin-top: 50px;
}

.btn-add4 a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: black;
    padding: 20px 50px;
    border-radius: 99px;
    position: absolute;
    bottom: 120px;
    right: 150px;
}

.btn-add4 a:hover {
    background: #6b56e2;
}

/* Footer */
footer {
    background: #262626;
}

.item9 {
    color: white;
    margin-top: 80px;
    margin-bottom: 40px;
    position: relative;
}

/* Cột 1 */
.text29 {
    font-weight: bold;
    font-size: 20px;
}

.text30 {
    margin-top: 20px;
    color: #8a8a8a;
    font-size: 15px;
    line-height: 25px;
}

.icon2 a {
    padding-right: 20px;
    color: white;
}

.icon2 {
    margin-top: 30px;

}

/* Cột 2 */
.icon3 {
    color: #8a8a8a;
}

.text31 a {
    text-decoration: none;
    color: #8a8a8a;
    font-size: 14px;
}

.text31 a p {
    margin-left: 35px;
}

.text31 a:hover {
    color: white;
}

/* Cột 3 */
.text32 a {
    text-decoration: none;
    color: #8a8a8a;
}

.text32 {
    margin-bottom: 20px;
}

.text32 a:hover {
    color: white;
}

.subscribe {
    background: #262626;
    border: 1px solid #8a8a8a;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    color: #988a8a;
    box-sizing: border-box;
}

.btn-add5 {
    border: none;
    margin-top: 10px;
    background-color: #6b56e2;
    color: white;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    text-align: center;
}

.btn-add5:hover {
    background: #262626;
}


/* End */
.end {

    padding: 20px;
    background: #232324;
}

.last p {
    text-align: center;
    color: #f1ffff;
    font-size: 15px;
    margin-top: 5px
}

/* Cuộn trang */
.keep a {
    color: white;
    background: black;
    padding: 15px 20px;
    position: fixed;
    bottom: 15%;
    right: 5%;
    z-index: 1000;
    box-sizing: border-box;
    display: none;
}